@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    gap: 82px;
    justify-content: space-between;
    padding: 5% 15%;
}

.container-content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-title {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.content-text {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.links {
    display: flex;
    font-family: var(--fonte-secundaria);
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.links_subtitle {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.links a {
    text-decoration: none;
}

.links_link {
    justify-content: center;
    display: flex;
    border: 0.1rem solid var(--cor-terciaria);
    width: 280px;
    text-align: center;
    color: var(--cor-secundaria);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1.34rem 0px;
    font-weight: 600;
    gap: 1rem;
}

.links_link:hover {
    background-color: #272727;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1.1rem 0;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
  }

#footer a {
    text-decoration: none;
    color: var(--cor-primaria);
}
  

.menu {

    padding: 2% 0 0 15%;
}

.menu_list {
    display: flex;
    gap: 80px;

}

.menu_link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-terciaria);
}

strong {
    color: var(--cor-terciaria);
}

p strong {
    color: var(--cor-secundaria);
}

@media (max-width: 1300px) {
    .menu {
        padding: 10%;
    }

    .menu_list {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container-content {
        width: auto;
    }
}